html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #444;
    color: white;
    font-family: 'Verdana';
}

// Basic Site Colors
$blue: #04F;
$yellow: #FD0;
$light-gray: #CCC;

//Header Styles
header {
    background-color: $blue;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 1rem 1rem;
    h1 {
        font-size: 2rem;
        color: $yellow;
        text-shadow: 0 0.25rem black;
        margin: 0.25rem;
        text-align: center;
    }
    nav {
        background-color: $light-gray;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 1rem;
        a {
            font-size: 1.25rem;
            color: black;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                color: $yellow;
                -webkit-text-stroke: 1px black;
                text-decoration: underline overline;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    header {
        flex-direction: row;
        nav {
            width: 65%;
            height: 100%;
            border-radius: 0 0 1rem 1rem;
        }
    }
}