@import "partials/layout.scss";

// Main Content Styles

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    heading {
        h2 {
            font-size: 2rem;
            text-align: center;
        }
        p {
            font-size: 1.5rem;
            text-align: center;
        }
    }
    content {
        display: flex;
        flex-direction: column;
        section {
            background-color: $yellow;
            width: 75%;
            height: 8rem;
            margin: 1rem 0;
            border-radius: 4rem 0 0 4rem;
            display: flex;
            align-self: flex-end;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            img {
                height: 50%;
            }
            article {
                color: black;
                width: 50%;
                text-align: center;
                h3 {
                    font-size: 1rem;
                    margin: 0;
                }
                p {
                    font-size: 0.75rem;
                }
                .button-link {
                    font-size: 1rem;
                    background-color: blue;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                    border: 2px solid black;
                    border-radius: 1.5rem;
                    padding: 0.25rem;
                }
            }
        }
        .left {
            border-radius: 0 4rem 4rem 0;
            align-self: flex-start;
        }
    }
}

@media screen and (min-width: 480px) {
    main {
        heading {
            h2 {font-size: 3rem;}
            p {font-size: 2.5rem;}
        }
        content {
            section {
                height: 10rem;
                border-radius: 5rem 0 0 5rem;
                article {
                    h3 {font-size: 1.25rem;}
                    p {font-size: 1rem;}
                    .button-link {
                        border-radius: 2rem;
                        padding: 0.5rem;
                    }
                }
            }
            .left {
                border-radius: 0 5rem 5rem 0;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    main {
        flex-direction: row;
        heading {width: 50%;}
        content {
            width: 50%;
            section {
                width: 90%;
                margin: 3rem 0;
                article {
                    h3 {font-size: 1.25rem;}
                    p {font-size: 1rem;}
                }
            }
            .left {
                border-radius: 5rem 0 0 5rem;
                align-self: flex-end;
            }
        }
    }
}